<!-- 縦画面警告 -->
<div class="vertical-screen-warning">
  <mat-icon>screen_lock_portrait</mat-icon>
  <span>横画面でご利用ください</span>
</div>
<!---->

<!-- スキャナ起動ボタン -->
<button
  class="scanner-launch-button"
  mat-raised-button
  (click)="isLaunchingScanner = true"
>
  <mat-icon>camera_alt</mat-icon>
  <span>認識を開始</span>
</button>
<!---->

<!-- スキャナ領域 -->
<app-scanner
  *ngIf="isLaunchingScanner"
  (onScanned)="onScanned($event)"
  (onDismissed)="onScannerDismissed()"
></app-scanner>
<!---->

<!-- 手牌一覧領域 -->
<section class="hold-tiles-container">
  <p class="caption" *ngIf="selectedHoldTile === undefined">
    牌をタップすると、ユニット候補を表示します...
  </p>

  <div class="hold-tiles">
    <ng-container *ngIf="holdTiles">
      <ng-container *ngFor="let tile of holdTiles">
        <article
          class="tile hold-tile selected"
          [ngClass]="{
            selected:
              selectedHoldTile &&
              selectedHoldTile.identifier === tile.identifier
          }"
          (click)="onHoldTileSelect(tile)"
        >
          <div class="tile-label">
            <span>{{ tile.label }}</span>
          </div>
          <img
            class="tile-image"
            [src]="tile.imageUrl"
            [matTooltip]="'(検出スコア: ' + tile.score + ')'"
          />
          <div class="tile-group-labels">
            <ng-container *ngIf="tile.suggestedGroup">
              <div
                class="tile-group-label"
                [style.backgroundColor]="tile.suggestedGroup.groupingColor"
                [matTooltip]="'ユニット提案: ' + tile.suggestedGroup.unit.label"
              >
                {{ tile.suggestedGroup.groupingLabel }}
              </div>
            </ng-container>
          </div>
        </article>
      </ng-container>
    </ng-container>
  </div>
</section>
<!---->

<!-- ユニット一覧領域 -->
<section class="units" *ngIf="recommendedUnits && recommendedUnits.length > 0">
  <ng-container *ngFor="let unit of recommendedUnits">
    <div class="unit">
      <span class="unit-label">
        {{ unit.label }}
      </span>

      <ng-container *ngFor="let tile of unit.tiles">
        <article
          class="tile unit-tile"
          [ngClass]="{ hold: tile.isHold }"
          [matTooltip]="'(検出スコア: ' + tile.score + ')'"
        >
          <div class="tile-label">
            <span>{{ tile.label }}</span>
          </div>
          <img class="tile-image" [src]="tile.imageUrl" />
          <mat-icon class="hold-mark" *ngIf="tile.isHold">done</mat-icon>
        </article>
      </ng-container>
    </div>
  </ng-container>
</section>
<!---->

<p style="color: #555555; font-size: 0.75rem; margin: 1rem 0.25rem 0 0.25rem">
  "ドンジャラNEO アイドルマスターシンデレラガールズ"
  をさらに楽しむための非公式ガイドサービスです。<br />
  株式会社バンダイナムコエンターテインメント様、株式会社バンダイ様、株式会社Cygames様などとは一切関係ございません。<br />
  本サービスのお知らせやご意見等は
  <a href="https://twitter.com/arisucool" target="_blank">@arisucool</a>
  へ。<br /><br />
  "アイドルマスター シンデレラガールズ"
  は、株式会社バンダイナムコエンターテインメント様の登録商標です。<br />
  "ドンジャラ" および "ドンジャラNEO"は、株式会社バンダイ様の登録商標です。
</p>
