<div
  class="camera-control"
  *ngIf="
    this.previewMediaStream && this.previewMediaStream.getTracks().length > 0
  "
>
  <div class="video-container">
    <!-- シャッターアニメーション用領域 -->
    <div class="shutter" *ngIf="isTakingPhoto"></div>
    <!---->

    <!-- カメラ映像領域 -->
    <video
      class="camera-preview"
      [srcObject]="this.previewMediaStream"
      autoplay
      muted
      playsinline
    ></video>
    <!---->
  </div>

  <button
    mat-fab
    class="shutter-button"
    color="primary"
    (click)="detect()"
    [disabled]="this.isTakingPhoto"
  >
    <mat-icon>photo_camera</mat-icon>
  </button>
</div>

<div class="detected-tiles">
  <ng-container *ngIf="onScanned$ | async as scannerResult">
    <ng-container *ngFor="let tile of scannerResult.tiles">
      <div
        class="tile"
        [style.background-image]="'url(' + tile.imageDataUrl + ')'"
      >
        <span>{{ tile.top.label }}</span>
        &nbsp;&nbsp;<br />
        <small>({{ tile.top.score | number : "1.0-2" }})</small>
      </div>
    </ng-container>
  </ng-container>
</div>
