// アニメーション定義
@keyframes shutterAnimation {
  0% {
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(101%);
  }
  60% {
    transform: scaleY(101%);
  }
  100% {
    transform: scaleY(0);
  }
}

// ボタン
::ng-deep .mat-mdc-raised-button {
  color: white !important;
}

// カメラ領域
.camera-control-modal {
  display: flex;
  background: #ffffff88;
  backdrop-filter: blur(3px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 1rem;

  .video-container {
    position: relative;
    max-width: 1000px;
    max-height: 100%;

    .camera-preview {
      max-height: 100%;
      max-width: 100%;
      width: fit-content;
      border-radius: 8px;
    }

    .shutter {
      background-color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      &::before {
        animation: shutterAnimation 0.8s forwards 1;
        transform-origin: top;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 50%;
        left: 0;
        background-color: #303030;
      }

      &::after {
        animation: shutterAnimation 0.8s forwards 1;
        transform-origin: bottom;
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #303030;
      }
    }
    .shutter-button {
      position: absolute;
      z-index: 20;
      border: 0;
      padding: 0.25rem 1rem;
      top: calc(50%);
      margin-top: -18px;
      right: 1rem;
    }
  }
}
