@keyframes shutterAnimation {
  0% {
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(101%);
  }
  60% {
    transform: scaleY(101%);
  }
  100% {
    transform: scaleY(0);
  }
}

.camera-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
  max-width: 1000px;

  .video-container {
    .camera-preview {
      max-height: 100%;
      max-width: 100%;
      width: fit-content;
      border-radius: 8px;
    }

    .shutter {
      background-color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      &::before {
        animation: shutterAnimation 0.8s forwards 1;
        transform-origin: top;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 50%;
        left: 0;
        background-color: #303030;
      }

      &::after {
        animation: shutterAnimation 0.8s forwards 1;
        transform-origin: bottom;
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #303030;
      }
    }
  }

  .shutter-button {
    position: absolute;
    z-index: 10;
    border: 0;
    padding: 0.25rem 1rem;
    top: calc(50%);
    margin-top: -18px;
    right: 1rem;
  }
}

.detected-tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0 -8px;
  gap: 1rem 0.25rem;

  .tile {
    width: 80px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-size: 0.8rem;
    padding: 0.1rem 0.1rem;
  }
}

::ng-deep .mat-mdc-raised-button {
  color: white !important;
}
