<!-- カメラ領域 -->
<section class="camera-control-modal">
  <div class="video-container">
    <!-- モーダル領域 -->
    <div class="modal-background" (click)="close()"></div>

    <!-- シャッターアニメーション用領域 -->
    <div class="shutter" *ngIf="status === 'processing'"></div>
    <!---->

    <!-- メッセージ領域 -->
    <div class="message">
      <ng-container *ngIf="status === 'initializing'">
        しばらくお待ちください...
      </ng-container>
      <ng-container *ngIf="status === 'ready'">
        <ng-container *ngIf="numOfDetections === 0">
          すべての手牌が収まる限界まで近づいてください
        </ng-container>
        <ng-container *ngIf="numOfDetections > 0">
          静止してシャッターボタンを押してください
        </ng-container>
      </ng-container>
      <ng-container *ngIf="status === 'processing'">
        検索しています...
      </ng-container>
    </div>

    <!-- カメラ映像領域 -->
    <video
      #cameraVideo
      [srcObject]="this.cameraVideoStream"
      class="camera-preview"
      [ngClass]="{ hide: this.previewMediaStream }"
      autoplay
      muted
      playsinline
    ></video>
    <video
      #previewVideo
      class="camera-preview"
      [srcObject]="this.previewMediaStream"
      [style.display]="!this.previewMediaStream ? 'none' : 'block'"
      autoplay
      muted
      playsinline
    ></video>
    <!---->

    <!-- シャッターボタン -->
    <button
      #shutterButton
      mat-fab
      class="shutter-button"
      color="primary"
      (click)="onClickShutterButton()"
      [disabled]="status !== 'ready'"
    >
      <mat-icon>photo_camera</mat-icon>
    </button>
    <!---->
  </div>
</section>
<!---->
