<mat-toolbar color="primary">
  <span class="app-title"> Donjerella</span>
  <span class="preview-label">α版 (開発中)</span>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <p class="about-link">
    データ提供:
    <a
      href="https://twitter.com/nk_mirage/status/1636418358345334784"
      target="_blank"
      rel="noopener"
    >
      ねく (NK)
    </a>
    様
  </p>
  <p>
    Made by
    <a href="https://twitter.com/arisucool" target="_blank" rel="noopener">
      arisu.cool 🍓
    </a>
  </p>
</footer>
