$app-primary-colors: (
  50: #e3f8fa,
  100: #b9edf4,
  200: #8be1ec,
  300: #5dd5e4,
  400: #3accdf,
  500: #17c3d9,
  600: #14bdd5,
  700: #11b5cf,
  800: #0daeca,
  900: #07a1c0,
  A100: #ebfbff,
  A200: #b8f1ff,
  A400: #85e7ff,
  A700: #6be3ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
