$app-primary-colors: (
  50: #e2f4f5,
  100: #b7e3e6,
  200: #87d0d5,
  300: #57bdc4,
  400: #33afb8,
  500: #0fa1ab,
  600: #0d99a4,
  700: #0b8f9a,
  800: #088591,
  900: #047480,
  A100: #adf6ff,
  A200: #7af0ff,
  A400: #47eaff,
  A700: #2ee7ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
